<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.dev24.client.cart.vo.CartVO" alias="cart" />
		<typeAlias type="com.dev24.client.purchase.vo.PurchaseVO" alias="purchase" />
		<typeAlias type="com.dev24.client.pdetail.vo.PdetailVO" alias="pdetail" />
		<typeAlias type="com.dev24.client.book.vo.BookVO" alias="book"/>
		<typeAlias type="com.dev24.client.book.vo.BookViewVO" alias="bookView"/>
		<typeAlias type="com.dev24.client.bookimg.vo.BookImgVO" alias="bookImg"/>
		<typeAlias type="com.dev24.client.customer.vo.CustomerVO" alias="customer"/>
		<typeAlias type="com.dev24.admin.stock.vo.StockVO" alias="stock"/>
	</typeAliases>
</configuration>